.client {
  &__container {
    position: relative;
    height: 100vh;
    border-right: 1px solid #222128;

    display: flex;
    flex-direction: column;

    background-color: #1f2a40;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: auto 40px;
    justify-content: space-between;
    align-items: center;

    padding: 5px 3px 10px 3px;
    margin: 3px 10px 10px 10px;

    border-bottom: 1px solid grey;
    background-color: #1f2a40;

    h2 {
      margin: 0;
    }

    button {
      height: 40px;
      background-color: #5959ef;
      color: white;
      border-radius: 5px;
      border: 1px solid #222128;
      cursor: pointer;

      i {
        font-size: 18px;
      }
    }
  }

  // &__footer {
  //   display: grid;
  //   background-color: #1f2a40;
  //   position: fixed;
  //   bottom: 0px;
  //   border-top: 1px solid #222128;

  //   button {
  //     height: 40px;
  //     background-color: #5959ef;
  //     color: white;
  //     border-radius: 5px;
  //     border: 1px solid #222128;
  //     cursor: pointer;
  //     margin: 5px 10px;

  //     i {
  //       font-size: 18px;
  //     }
  //   }
  // }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid grey;
    border-radius: 5px;

    margin: 3px 10px;
    padding: 5px 10px;

    font-weight: 600;
    text-decoration: none;

    background: transparent;

    i {
      font-size: 20px;
    }

    &:first-child {
      margin-top: 15px;
    }

    &:hover {
      transform: scale(102%);
      cursor: pointer;
    }

    &:active {
      transform: scale(100%);
    }
  }

  &__footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    margin-top: auto;

    border-top: 1px solid grey;
    background-color: #1f2a40;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;

    & .client__item {
      width: 100%;
      margin: 7px 10px !important;
      background-color: #5959ef;
      border: 1px solid #222128;
    }
  }
}
