.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 99;

  &__background {
    position: fixed;
    inset: 0 0 0 0;
    background-color: #000000c5;
  }

  &__popup {
    position: relative;
    background-color: #1f2a40;
    padding: 30px;

    border-radius: 5px;
  }

  &__close {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 100;

    width: 32px;
    height: 32px;

    padding: 8px;
    border-radius: 5px;
    border: none;

    background-color: #5959ef;
  }
}

.confirmation {
  h2 {
    margin: 0;
  }

  button {
    width: 100%;

    border: 1px solid #222128;
    border-radius: 5px;

    padding: 10px 0;
    margin-top: 10px;

    background-color: #f25b5b;
  }
}

.creation-scroll {
  width: 100%;
  display: grid;
  grid-template-rows: 40px 40px 40px 40px auto;
  row-gap: 10px;

  max-height: 70vh;
  overflow-y: scroll;

  &--default {
    grid-template-rows: 40px 40px auto !important;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.lightIp {
  &__form {
    display: grid;
    grid-template-rows: 40px 40px;
    row-gap: 10px;

    button {
      height: 40px;
      border-radius: 5px;
      border: 1px solid #222128;
      background-color: #5959ef;
    }
  }

  &__input {
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    color: black;
  }
}

.creation {
  width: 450px;

  h2 {
    margin: 0;
  }

  &__form {
    display: grid;
    grid-template-rows: auto 40px;
    row-gap: 10px;
  }

  &__input {
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    color: black;
  }

  button {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #222128;
    background-color: #5959ef;
  }

  &__stateContainer {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;

    h3 {
      color: black;
      margin: 0;
      margin-bottom: 5px;
    }

    button {
      width: 40px;

      i {
        font-size: 20px;
      }
    }
  }

  &__state {
    display: flex;
    height: 40px;

    margin-bottom: 10px;

    input {
      border: 1px solid #222128;
      color: black;
      padding-left: 10px;
    }

    .stateName {
      width: 100%;
      border-radius: 5px 0 0 5px;
    }

    .stateCode {
      width: 60px;
      border-radius: 0 5px 5px 0;
      border-left: none;
    }

    .tips {
      width: 100%;
      border-radius: 5px;
    }
  }
}

.onState {
  &__form {
    display: grid;
    grid-template-rows: auto 40px;
    gap: 10px;

    select {
      color: black;
    }
  }

  &__optionsContainer {
    max-height: 75vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__stateContainer {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;

    h3 {
      color: black;
      margin: 0;
      margin-bottom: 5px;
    }

    button {
      width: 40px;

      i {
        font-size: 20px;
      }
    }
  }
  &__state {
    display: flex;
    height: 40px;

    margin-bottom: 10px;

    select {
      border: 1px solid #222128;
      color: black;
      padding-left: 10px;
    }

    .stateName {
      width: 60%;
      border-radius: 5px 0 0 5px;
    }

    .stateCode {
      width: 40%;
      border-radius: 0 5px 5px 0;
      border-left: none;
    }
  }
}
